{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block content %}
<h1>Bienvenue {{app.user.firstname }}</h1>

<hr>
<a href="/reset-password">-Changer mot de passe</a> <br>
<a href="">- Ajouter une adresse</a>  <br>
<a href="">- Mes commandes</a> <br>
{% endblock %}
