{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block content %}
<h1>Bienvenue {{app.user.firstname }}</h1>

<hr>
- Changer mon mot de passe <br>
- Ajouter une adresse <br>
- Mes commandes <br>
{% endblock %}
